/* ----------------------------------------------------------------------------------------------------

Super Form Reset

A couple of things to watch out for:

- IE8: If a text input doesn't have padding on all sides or none the text won't be centered.
- The default border sizes on text inputs in all UAs seem to be slightly different. You're better off using custom borders.
- You NEED to set the font-size and family on all form elements
- Search inputs need to have their appearance reset and the box-sizing set to content-box to match other UAs
- You can style the upload button in webkit using ::-webkit-file-upload-button
- ::-webkit-file-upload-button selectors can't be used in the same selector as normal ones. FF and IE freak out.
- IE: You don't need to fake inline-block with labels and form controls in IE. They function as inline-block.
- By turning off ::-webkit-search-decoration, it removes the extra whitespace on the left on search inputs

----------------------------------------------------------------------------------------------------*/
input,
label,
select,
button,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  /* Browsers have different default form fonts */
  font-size: 1em;
  font-family: 'IBM Plex Sans', sans-serif; }

/* Remove the stupid outer glow in Webkit */
input:focus {
  outline: 0; }

/* Box Sizing Reset
-----------------------------------------------*/
/* All of our custom controls should be what we expect them to be */
input,
textarea {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

/* These elements are usually rendered a certain way by the browser */
button,
input[type=reset],
input[type=button],
input[type=submit],
input[type=checkbox],
input[type=radio],
select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Text Inputs
-----------------------------------------------*/
/* Button Controls
-----------------------------------------------*/
input[type=checkbox],
input[type=radio] {
  width: 13px;
  height: 13px; }

/* File Uploads
-----------------------------------------------*/
/* Search Input
-----------------------------------------------*/
/* Make webkit render the search input like a normal text field */
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box; }

/* Turn off the recent search for webkit. It adds about 15px padding on the left */
::-webkit-search-decoration {
  display: none; }

/* Buttons
-----------------------------------------------*/
button,
input[type="reset"],
input[type="button"],
input[type="submit"] {
  /* Fix IE7 display bug */
  overflow: visible;
  width: auto; }

/* IE8 and FF freak out if this rule is within another selector */
::-webkit-file-upload-button {
  padding: 0;
  border: 0;
  background: none; }

/* Textarea
-----------------------------------------------*/
textarea {
  /* Move the label to the top */
  vertical-align: top;
  /* Turn off scroll bars in IE unless needed */
  overflow: auto; }

/* Selects
-----------------------------------------------*/
select[multiple] {
  /* Move the label to the top */
  vertical-align: top; }

* {
  box-sizing: border-box; }

html, body {
  background-color: #fff;
  color: #2a2a2a;
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans', sans-serif; }

header {
  background-color: #2a2a2a;
  color: #fff;
  height: 60px;
  text-align: center; }
  header .menu {
    margin-top: 15px; }
    header .menu ul {
      list-style-type: none;
      margin: 0;
      padding: 0; }
      header .menu ul li {
        display: inline-block;
        margin-right: 1em; }
        header .menu ul li:last-child {
          margin-right: 0; }
        header .menu ul li a {
          color: #fff;
          text-decoration: none;
          font-size: 1em; }
          @media (min-width: 320px) {
            header .menu ul li a {
              font-size: 0.8em; } }
          @media (min-width: 576px) {
            header .menu ul li a {
              font-size: 0.8em; } }
          @media (min-width: 768px) {
            header .menu ul li a {
              font-size: 1em; } }
          @media (min-width: 992px) {
            header .menu ul li a {
              font-size: 1em; } }
          @media (min-width: 1024px) {
            header .menu ul li a {
              font-size: 1em; } }
  header .logo {
    margin: 0 auto;
    max-height: 60px; }
    @media (max-width: 576px) {
      header .logo {
        max-width: 40px;
        max-height: 40px;
        margin-top: 10px; } }

.banner {
  width: 100%;
  height: 40em; }
  @media (min-width: 320px) {
    .banner {
      height: 30em; } }
  @media (min-width: 576px) {
    .banner {
      height: 30em; } }
  @media (min-width: 768px) {
    .banner {
      height: 40em; } }
  @media (min-width: 992px) {
    .banner {
      height: 40em; } }
  @media (min-width: 1024px) {
    .banner {
      height: 40em; } }
  .banner.format-jpg {
    background: url("/portfolio/wolf-site/img/jo-jo-Eg5eootTvqM-unsplash.jpg") center center no-repeat;
    background-size: cover; }
  .banner.format-webp {
    background: url("/portfolio/wolf-site/img/jo-jo-Eg5eootTvqM-unsplash.webp") center center no-repeat;
    background-size: cover; }
  .banner .container-fluid {
    z-index: 10;
    position: relative; }
  .banner .overlay {
    width: 100%;
    height: 40em;
    z-index: 1;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.35); }
    @media (min-width: 320px) {
      .banner .overlay {
        height: 30em; } }
    @media (min-width: 576px) {
      .banner .overlay {
        height: 30em; } }
    @media (min-width: 768px) {
      .banner .overlay {
        height: 40em; } }
    @media (min-width: 992px) {
      .banner .overlay {
        height: 40em; } }
    @media (min-width: 1024px) {
      .banner .overlay {
        height: 40em; } }
  .banner .shield {
    width: 138px;
    height: 116px;
    background: url("/portfolio/wolf-site/img/shield-wolf.png") center center no-repeat;
    background-size: cover;
    margin: 20px auto; }
  .banner .title h1 {
    color: #fff;
    text-align: center;
    margin-top: 3rem;
    text-shadow: 2px 2px 7px rgba(150, 150, 150, 0.78);
    font-size: 3em; }
    @media (min-width: 320px) {
      .banner .title h1 {
        font-size: 2em; } }
    @media (min-width: 576px) {
      .banner .title h1 {
        font-size: 3em; } }
    @media (min-width: 768px) {
      .banner .title h1 {
        font-size: 3em; } }
    @media (min-width: 992px) {
      .banner .title h1 {
        font-size: 2.5em; } }
    @media (min-width: 1024px) {
      .banner .title h1 {
        font-size: 2.5em; } }
    .banner .title h1 span {
      font-weight: 100; }
  .banner .subtitle p {
    font-size: 1.4em;
    color: #fff;
    text-align: center;
    font-weight: 400;
    text-shadow: 2px 2px 7px rgba(150, 150, 150, 0.78); }
    @media (min-width: 320px) {
      .banner .subtitle p {
        font-size: 1.2em; } }
    @media (min-width: 576px) {
      .banner .subtitle p {
        font-size: 1.8em; } }
    @media (min-width: 768px) {
      .banner .subtitle p {
        font-size: 1.8em; } }
    @media (min-width: 992px) {
      .banner .subtitle p {
        font-size: 1.3em; } }
    @media (min-width: 1024px) {
      .banner .subtitle p {
        font-size: 1.3em; } }

main section .container-fluid.no-padding {
  padding: 0; }

main section .container-fluid .row {
  margin: 0; }
  main section .container-fluid .row .no-padding {
    padding: 0; }

main section.m1 .m1detail .content {
  padding: 2rem; }
  @media (min-width: 576px) {
    main section.m1 .m1detail .content {
      padding: 2.5rem; } }
  @media (min-width: 768px) {
    main section.m1 .m1detail .content {
      padding: 5rem; } }
  @media (min-width: 992px) {
    main section.m1 .m1detail .content {
      padding: 5rem; } }
  @media (min-width: 1024px) {
    main section.m1 .m1detail .content {
      padding: 10rem; } }
  main section.m1 .m1detail .content h2 {
    text-align: center;
    text-transform: uppercase; }
  main section.m1 .m1detail .content p {
    font-size: 1.2em; }
    @media (min-width: 576px) {
      main section.m1 .m1detail .content p {
        font-size: 1.8em; } }
    @media (min-width: 768px) {
      main section.m1 .m1detail .content p {
        font-size: 1.8em; } }
    @media (min-width: 992px) {
      main section.m1 .m1detail .content p {
        font-size: 1.2em; } }
    @media (min-width: 1024px) {
      main section.m1 .m1detail .content p {
        font-size: 1.2em; } }
  main section.m1 .m1detail .content .phone {
    height: 19em;
    width: 100%; }
    main section.m1 .m1detail .content .phone.format-jpg {
      background: url("/portfolio/wolf-site/img/iphone_iphonexspacegrey_portrait.png") center center no-repeat;
      background-size: contain; }
    main section.m1 .m1detail .content .phone.format-webp {
      background: url("/portfolio/wolf-site/img/iphone_iphonexspacegrey_portrait.webp") center center no-repeat;
      background-size: contain; }

main section.m1 .grid2x2 {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; }
  main section.m1 .grid2x2 > div {
    display: flex;
    flex-basis: calc(50% - 40px);
    justify-content: center;
    flex-direction: column; }
  main section.m1 .grid2x2 > div > div {
    display: flex;
    justify-content: center;
    flex-direction: row; }
  main section.m1 .grid2x2 .quad {
    min-height: 13em;
    min-width: 100%; }
    @media (min-width: 320px) {
      main section.m1 .grid2x2 .quad {
        min-height: 13em;
        min-width: 0;
        max-width: 33.33333%; } }
    @media (min-width: 576px) {
      main section.m1 .grid2x2 .quad {
        min-height: 13em;
        min-width: 0;
        max-width: 33.33333%; } }
    @media (min-width: 768px) {
      main section.m1 .grid2x2 .quad {
        min-height: 13em;
        min-width: 100%; } }
    @media (min-width: 992px) {
      main section.m1 .grid2x2 .quad {
        min-height: 13em;
        min-width: 100%; } }
    @media (min-width: 1024px) {
      main section.m1 .grid2x2 .quad {
        min-height: 20em;
        min-width: 50%; } }
    main section.m1 .grid2x2 .quad.imgm1.format-jpg {
      background: url("/portfolio/wolf-site/img/marek-szturc-8Ou3EZmTMWA-unsplash.jpg") center center no-repeat;
      background-size: cover; }
    main section.m1 .grid2x2 .quad.imgm1.format-webp {
      background: url("/portfolio/wolf-site/img/marek-szturc-8Ou3EZmTMWA-unsplash.webp") center center no-repeat;
      background-size: cover; }
    main section.m1 .grid2x2 .quad.imgm2 {
      display: none; }
      @media (min-width: 320px) {
        main section.m1 .grid2x2 .quad.imgm2 {
          display: none; } }
      @media (min-width: 576px) {
        main section.m1 .grid2x2 .quad.imgm2 {
          display: none; } }
      @media (min-width: 768px) {
        main section.m1 .grid2x2 .quad.imgm2 {
          display: none; } }
      @media (min-width: 992px) {
        main section.m1 .grid2x2 .quad.imgm2 {
          display: block; } }
      @media (min-width: 1024px) {
        main section.m1 .grid2x2 .quad.imgm2 {
          display: block; } }
      main section.m1 .grid2x2 .quad.imgm2.format-jpg {
        background: url("/portfolio/wolf-site/img/hybrid-HtHrjExpddA-unsplash.jpg") center center no-repeat;
        background-size: cover; }
      main section.m1 .grid2x2 .quad.imgm2.format-webp {
        background: url("/portfolio/wolf-site/img/hybrid-HtHrjExpddA-unsplash.webp") center center no-repeat;
        background-size: cover; }
    main section.m1 .grid2x2 .quad.imgm3.format-jpg {
      background: url("/portfolio/wolf-site/img/simon-rae-jY_2XG-6HU0-unsplash.jpg") center center no-repeat;
      background-size: cover; }
    main section.m1 .grid2x2 .quad.imgm3.format-webp {
      background: url("/portfolio/wolf-site/img/simon-rae-jY_2XG-6HU0-unsplash.webp") center center no-repeat;
      background-size: cover; }
    main section.m1 .grid2x2 .quad.imgm4.format-jpg {
      background: url("/portfolio/wolf-site/img/aron-visuals-4zxSWESyZio-unsplash.jpg") center center no-repeat;
      background-size: cover; }
    main section.m1 .grid2x2 .quad.imgm4.format-webp {
      background: url("/portfolio/wolf-site/img/aron-visuals-4zxSWESyZio-unsplash.webp") center center no-repeat;
      background-size: cover; }

main section.m2 .m2detail .content {
  padding: 2rem; }
  @media (min-width: 576px) {
    main section.m2 .m2detail .content {
      padding: 2.5rem; } }
  @media (min-width: 768px) {
    main section.m2 .m2detail .content {
      padding: 5rem; } }
  @media (min-width: 992px) {
    main section.m2 .m2detail .content {
      padding: 5rem; } }
  @media (min-width: 1024px) {
    main section.m2 .m2detail .content {
      padding: 10rem; } }
  main section.m2 .m2detail .content p {
    font-size: 1.2em; }
    @media (min-width: 576px) {
      main section.m2 .m2detail .content p {
        font-size: 1.8em; } }
    @media (min-width: 768px) {
      main section.m2 .m2detail .content p {
        font-size: 1.8em; } }
    @media (min-width: 992px) {
      main section.m2 .m2detail .content p {
        font-size: 1.2em; } }
    @media (min-width: 1024px) {
      main section.m2 .m2detail .content p {
        font-size: 1.2em; } }
    main section.m2 .m2detail .content p.disclaimer {
      font-weight: 400;
      font-size: 0.8em; }
      @media (min-width: 576px) {
        main section.m2 .m2detail .content p.disclaimer {
          font-size: 1em; } }
      @media (min-width: 768px) {
        main section.m2 .m2detail .content p.disclaimer {
          font-size: 1em; } }
      @media (min-width: 992px) {
        main section.m2 .m2detail .content p.disclaimer {
          font-size: 0.8em; } }
      @media (min-width: 1024px) {
        main section.m2 .m2detail .content p.disclaimer {
          font-size: 0.8em; } }
  main section.m2 .m2detail .content h2 {
    text-align: center;
    text-transform: uppercase; }

main section.m2 .m2pic .single {
  min-height: 100%;
  min-width: 100%; }

main section.m2 .m2pic .simgm1.format-jpg {
  background: url("/portfolio/wolf-site/img/alina-lobanova-TjMt-AdMMIM-unsplash.jpg") center center no-repeat;
  background-size: cover; }

main section.m2 .m2pic .simgm1.format-webp {
  background: url("/portfolio/wolf-site/img/alina-lobanova-TjMt-AdMMIM-unsplash.webp") center center no-repeat;
  background-size: cover; }

main section.m3 .m3detail {
  background-color: #2a2a2a;
  color: #ffffff; }
  main section.m3 .m3detail .content {
    padding: 2rem; }
    @media (min-width: 576px) {
      main section.m3 .m3detail .content {
        padding: 2.5rem; } }
    @media (min-width: 768px) {
      main section.m3 .m3detail .content {
        padding: 5rem; } }
    @media (min-width: 992px) {
      main section.m3 .m3detail .content {
        padding: 5rem; } }
    @media (min-width: 1024px) {
      main section.m3 .m3detail .content {
        padding: 10rem; } }
    main section.m3 .m3detail .content p {
      font-size: 1.2em; }
      @media (min-width: 576px) {
        main section.m3 .m3detail .content p {
          font-size: 1.8em; } }
      @media (min-width: 768px) {
        main section.m3 .m3detail .content p {
          font-size: 1.8em; } }
      @media (min-width: 992px) {
        main section.m3 .m3detail .content p {
          font-size: 1.2em; } }
      @media (min-width: 1024px) {
        main section.m3 .m3detail .content p {
          font-size: 1.2em; } }
      main section.m3 .m3detail .content p.disclaimer {
        font-weight: 400;
        font-size: 0.8em; }
        @media (min-width: 576px) {
          main section.m3 .m3detail .content p.disclaimer {
            font-size: 1em; } }
        @media (min-width: 768px) {
          main section.m3 .m3detail .content p.disclaimer {
            font-size: 1em; } }
        @media (min-width: 992px) {
          main section.m3 .m3detail .content p.disclaimer {
            font-size: 0.8em; } }
        @media (min-width: 1024px) {
          main section.m3 .m3detail .content p.disclaimer {
            font-size: 0.8em; } }
    main section.m3 .m3detail .content h2 {
      text-align: center;
      text-transform: uppercase; }

main section.m3 .m3pic .single {
  min-height: 100%;
  min-width: 100%; }

main section.m3 .m3pic .simgm1 {
  display: none; }
  @media (min-width: 576px) {
    main section.m3 .m3pic .simgm1 {
      display: none; } }
  @media (min-width: 768px) {
    main section.m3 .m3pic .simgm1 {
      display: block; } }
  @media (min-width: 992px) {
    main section.m3 .m3pic .simgm1 {
      display: block; } }
  @media (min-width: 1024px) {
    main section.m3 .m3pic .simgm1 {
      display: block; } }
  main section.m3 .m3pic .simgm1.format-jpg {
    background: url("/portfolio/wolf-site/img/eva-blue-e9hbo4NtKJ0-unsplash.jpg") 0 0 no-repeat;
    background-size: cover; }
  main section.m3 .m3pic .simgm1.format-webp {
    background: url("/portfolio/wolf-site/img/eva-blue-e9hbo4NtKJ0-unsplash.webp") 0 0 no-repeat;
    background-size: cover; }

main section.m4 .m4detail .content {
  padding: 2rem; }
  @media (min-width: 576px) {
    main section.m4 .m4detail .content {
      padding: 2.5rem; } }
  @media (min-width: 768px) {
    main section.m4 .m4detail .content {
      padding: 5rem; } }
  @media (min-width: 992px) {
    main section.m4 .m4detail .content {
      padding: 5rem; } }
  @media (min-width: 1024px) {
    main section.m4 .m4detail .content {
      padding: 10rem; } }
  main section.m4 .m4detail .content h2 {
    text-align: center;
    text-transform: uppercase; }
    @media (max-width: 768px) {
      main section.m4 .m4detail .content h2 {
        margin-top: 0; } }
  main section.m4 .m4detail .content form .fields {
    padding: 20px 0; }
    main section.m4 .m4detail .content form .fields label {
      display: block;
      font-size: 0.8em;
      font-weight: 100; }
    main section.m4 .m4detail .content form .fields input, main section.m4 .m4detail .content form .fields textarea {
      margin: 10px 0;
      padding: 10px 5px;
      border: 1px solid #ccc;
      border-radius: 4px;
      width: 100%; }
  main section.m4 .m4detail .content form .action {
    padding: 20px 0; }
    main section.m4 .m4detail .content form .action button {
      border-radius: 4px;
      padding: 10px 5px;
      border: 1px dashed #353535;
      cursor: pointer; }
      main section.m4 .m4detail .content form .action button:hover, main section.m4 .m4detail .content form .action button.active {
        background-color: #eaeaea; }

footer {
  padding: 4rem 0;
  background-color: #353535;
  color: #fff; }
  footer .container-fluid.no-padding {
    padding: 0; }
  footer .container-fluid .row {
    margin: 0; }
    footer .container-fluid .row .no-padding {
      padding: 0; }
  footer .shield {
    width: 138px;
    height: 116px;
    background: url("/portfolio/wolf-site/img/shield-wolf.png") center center no-repeat;
    background-size: cover;
    margin: 0 auto; }
  @media (min-width: 576px) {
    footer {
      padding: 4rem 0; } }
  @media (min-width: 768px) {
    footer {
      padding: 4rem 0; } }
  @media (min-width: 992px) {
    footer {
      padding: 4rem 0; } }
  @media (min-width: 1024px) {
    footer {
      padding: 10rem 0 4rem 0; } }
  footer hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    margin: 5em 0 5em 0; }
  footer h3 {
    margin-top: 0;
    padding-top: 0; }
  footer a {
    color: #fff;
    text-decoration: none; }
  @media (min-width: 320px) {
    footer .contact-cont {
      text-align: center;
      margin-top: 2rem; } }
  @media (min-width: 576px) {
    footer .contact-cont {
      text-align: center;
      margin-top: 2rem; } }
  @media (min-width: 768px) {
    footer .contact-cont {
      text-align: center;
      margin-top: 4rem; } }
  @media (min-width: 992px) {
    footer .contact-cont {
      text-align: center;
      margin-top: 4rem; } }
  @media (min-width: 1024px) {
    footer .contact-cont {
      text-align: left;
      margin-top: 0; } }
  @media (min-width: 320px) {
    footer .howls-cont {
      text-align: left;
      margin: 2rem 5rem 1rem; } }
  @media (min-width: 576px) {
    footer .howls-cont {
      text-align: left;
      margin: 2rem 15rem 1rem; } }
  @media (min-width: 768px) {
    footer .howls-cont {
      text-align: left;
      margin: 4rem 15rem 1rem; } }
  @media (min-width: 992px) {
    footer .howls-cont {
      text-align: left;
      margin: 4rem 15rem 1rem; } }
  @media (min-width: 1024px) {
    footer .howls-cont {
      text-align: left;
      margin: 0; } }
  @media (min-width: 320px) {
    footer .howls-cont h3 {
      text-align: center; } }
  @media (min-width: 576px) {
    footer .howls-cont h3 {
      text-align: center; } }
  @media (min-width: 768px) {
    footer .howls-cont h3 {
      text-align: center; } }
  @media (min-width: 992px) {
    footer .howls-cont h3 {
      text-align: center; } }
  @media (min-width: 1024px) {
    footer .howls-cont h3 {
      text-align: left; } }
  footer address {
    color: #bbbbbb;
    font-size: 1.1em; }
    @media (min-width: 576px) {
      footer address {
        font-size: 1.1em; } }
    @media (min-width: 768px) {
      footer address {
        font-size: 1.1em; } }
    @media (min-width: 992px) {
      footer address {
        font-size: 1em; } }
    @media (min-width: 1024px) {
      footer address {
        font-size: 1em; } }
  footer .madeby {
    text-align: center; }
    footer .madeby .primary a {
      font-weight: 100;
      font-size: 1.1em; }
      @media (min-width: 576px) {
        footer .madeby .primary a {
          font-size: 1.1em; } }
      @media (min-width: 768px) {
        footer .madeby .primary a {
          font-size: 1.1em; } }
      @media (min-width: 992px) {
        footer .madeby .primary a {
          font-size: 1em; } }
      @media (min-width: 1024px) {
        footer .madeby .primary a {
          font-size: 1em; } }
    footer .madeby .secondary {
      margin-top: 12px;
      color: rgba(255, 255, 255, 0.5); }
      footer .madeby .secondary a {
        font-weight: 100;
        font-size: 0.9em; }
        @media (min-width: 576px) {
          footer .madeby .secondary a {
            font-size: 0.9em; } }
        @media (min-width: 768px) {
          footer .madeby .secondary a {
            font-size: 0.9em; } }
        @media (min-width: 992px) {
          footer .madeby .secondary a {
            font-size: 0.9em; } }
        @media (min-width: 1024px) {
          footer .madeby .secondary a {
            font-size: 0.8em; } }
  footer .howls {
    font-size: 0.8em;
    position: relative;
    margin-bottom: 20px;
    clear: both; }
    footer .howls .howls-icon {
      width: 40px;
      position: absolute;
      top: 0;
      left: 0; }
    footer .howls .howls-content {
      width: 90%;
      padding-left: 48px;
      color: #888; }
      footer .howls .howls-content p {
        margin-bottom: 0.4em;
        font-size: 1.4em; }
        @media (min-width: 320px) {
          footer .howls .howls-content p {
            font-size: 1.1em; } }
        @media (min-width: 576px) {
          footer .howls .howls-content p {
            font-size: 1.4em; } }
        @media (min-width: 768px) {
          footer .howls .howls-content p {
            font-size: 1.4em; } }
        @media (min-width: 992px) {
          footer .howls .howls-content p {
            font-size: 1.2em; } }
        @media (min-width: 1024px) {
          footer .howls .howls-content p {
            font-size: 1.2em; } }
      footer .howls .howls-content .author {
        color: #888; }
      footer .howls .howls-content .quotes {
        color: #bbbbbb; }
      footer .howls .howls-content small {
        color: #888; }
